<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="br.com.ithappens.controladoria.mapper.sqlserver.ProcessoNfceMapper">

    <resultMap id="mapRecuperar" type="br.com.ithappens.controladoria.model.IntegracaoFiscal">
        <result column="datamovimento" property="dataMovimento" />
        <result column="idfilial" property="filial.codigo"  />
        <result column="idintegrador" property="tipoIntegrador.id"/>
        <result column="idmodulo" property="modulo.id"/>
        <result column="serie" property="serie" />
        <result column="tipoper" property="tipoOperacao" typeHandler="br.com.ithappens.controladoria.mapper.typehandler.TipoOperacaoTypeHandler" />
        <result column="valor" property="valor" />
    </resultMap>

    <!-- Query fornececida pelo módulo fiscal-->
    <select id="recuperarFiscal" resultMap="mapRecuperar">
        select
           ct10_id_filial                                   as idfilial,
           try_convert(date,ct10_dt_emissao)                as datamovimento,
           try_convert(varchar, ct10_serie_documento)       as serie,
           02                                               as tipoper,
           02                                               as idintegrador, --Processo Nfce
           02                                               as idmodulo,     --FISCAL
           sum(ct11_valor_total_produto
               + isnull (ct11_valor_icmsst, 0)
               + isnull(ct11_valor_total_frete, 0)
               + isnull (ct11_valor_total_seguro, 0)
               + isnull (ct11_outras_despesas, 0)
               + isnull (ct11_valor_ipi, 0)
               - isnull (ct11_valor_desconto, 0)
               - isnull(ct11_valor_icms_desonerado, 0))         as valor
        from contabil.dbo.ct10_nota_fiscal with (nolock)
        inner join contabil.dbo.ct11_itens_nota_fiscal with (nolock) on ct11_id_nota_fiscal = ct10_id
        inner join contabil..ct29_cfop with (nolock) on ct11_id_cfop = ct29_classificacao
        where ct10_id_filial = #{codigoFilial}
          and convert(date,ct10_dt_emissao) = #{datamovimento}
          and ct10_status in (2)
          and ct10_tipo_operacao>0
          and ct10_modelo_documento = '65'
        group by ct10_id_filial,
                 ct10_serie_documento,
                 ct10_modelo_documento,
                 try_convert(date,ct10_dt_emissao) ;
    </select>

    <!-- Query fornececida pelo módulo estoque-->
    <select id="recuperarEstoque" resultMap="mapRecuperar">
         select
               es12_filial                     as idfilial
              ,convert(date, es12_dt_contabil) as datamovimento
              ,vd38_pdv                        as serie
              ,2                               as tipoper      --Saída
              ,2                               as idintegrador --Processo Nfce
              ,3                               as idmodulo     --ESTOQUE
              ,sum(es12_valor_total)           as valor
        from estoque..es12_pedido with (nolock)
        inner join vendas..vd38_cupom with (nolock) on es12_id_cupom = vd38_id
        inner join cadastro..cd62_estoque_movimento with (nolock) on es12_tipo_movimento = cd62_id
        where es12_filial not in (439, 436, 400)
          and es12_filial = #{codigoFilial}
          and convert(date, es12_dt_contabil) = #{datamovimento}
          and cd62_cupom_ecf = 1
          and cd62_id_categoria in (5,14)
          and es12_id_status in (5,6,8)
          and vd38_cancelado = 0
          and es12_dt_movimentacao is not null
        group by vd38_pdv,
                 convert(date, es12_dt_contabil) ,
                 es12_filial
    </select>


</mapper>